<head>
    <h1><b>Welcome to Nick Krotine's Homework Web Page:</b></h1>
    <img src="https://s3-us-west-2.amazonaws.com/cdn.cloudmuni.com/wp-content/uploads/20160112161627/jcu4.png" alt="JCU" style="width:400px;height:285px;">
    <title>Video List</title>
    <%= stylesheet_link_tag 'main' %>
</head>

<h2>Link to User List</h2>
         <li><a href="<%="video_list/index"%>">Video User List</a></li>
         <li><a href="<%="videos"%>">Video User List DB EDIT</a></li>
         <li><a href="<%="video_files"%>">Video Gif Page</a></li>
